<form class="send_chat" id="send_chat">
  <!-- <select id="rooms">
    <option value="room-1">Room 1</option>
    <option value="room-2">Room 2</option>
  </select> -->
  <input class="text" type="text" id="msg">
  <input class="btn" type="submit" value="発言">
  <input type="hidden" name="_csrf" value="<%= csrftoken %>">
</form>