/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 8px;
  line-height: 1.5em;
}

h1 {
  font-style: italic;
  color: #373fff;
  /* max-width: calc(100% - 5rem); */
  /* line-height: 1.1; */
}

.announce {
  font-size: 16px;
  text-decoration: underline;
  color: red;

}

.btn {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid silver;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px;
  color: rgb(74, 74, 74);
  background-color: rgb(239, 239, 239);
  text-decoration: none;
}

.btn:hover {
  background-color: lavender;
}

/* form */
.form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

.text {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

/* footer */
footer {
  position: fixed;
  bottom: 30px;
  width: calc(100% - 16px);
  padding-top: 10px;
  border-top: 1px solid lightgrey;
  display: flex;

}

.logout {
  width: 140px;
  font-size: 18px;
}

/* --- */
.content-wrapper {
  display: flex;
  /* height: calc(100vh-30px); */
}

/* main */
.main {
  padding-top: 20px;
  flex-grow: 1;
  text-align: center;
  height: auto;
}

.main table {
  margin: 0 auto;
  border: 1px solid black;
}

.chat-wrapper {
  padding-top: 20px;
  flex:0 1 350px;
}

.chat {
  /* margin-bottom: 30px; */
  border-left: 1px solid lightgrey;
  height: 100%;
}

.send_chat {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 50px;
}

.send_chat .text {
  flex:0 0 auto;
}


/* room */


/* game-header */
.game-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.vs {
  /* display: inline-block; */
  align-self: flex-end;
  font-size: 30px;
  font-weight: bold;
}

.player {
  align-self: flex-end;
  /* display: inline-block; */
  margin: 0 20px;
}

.player-symbol {
  margin-bottom: 30px;
}

.player-name {
  font-size: 40px;
  text-shadow:-3px 2px rgb(173, 173, 173);
}

.piece {
vertical-align: middle;
}

.cross {
  color: blue;
  font-size: 80px;
  padding-bottom: 5px;
}

.circle {
  font-weight: bolder;
  color: red;
  font-size: 50px;
}

/* game-table */
.ox {
  border-collapse: collapse;
  border: 2px solid white;
}

.ox td {
  border: 2px solid black;
  width: 80px;
  height: 80px;
}

.selectable {
  cursor: pointer;
}



/* game-footer */
.game-footer{
  /* display: flex;
  justify-content: center; */
  padding-top: 30px;
}

 #rematch, #exit {
  display: inline-block;
}

.award {
  padding: 10px 50px;
  font-size: 50px;
  color: rgb(255, 255, 124);
  background-color: rgb(209, 145, 25);
}

#result {
  margin: 20px auto;
}

.loser {
  transform: scale(0.5, 0.5);
}

.draw {
  padding: 10px 50px;
  font-size: 50px;
  color: rgb(14, 141, 2);
  background-color: rgb(152, 243, 77);

}

